{
	"presets":[
		"@babel/preset-react",
		[ "@babel/preset-env", {
			"targets": {
				"browsers": "> 2%"
			}
		}],
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"babel-plugin-styled-components", {
				"displayName": true
			}
		]
	]
}